form {
  .row {
    @include fbx-ai-start-jc-between;
    margin-bottom: 1.5rem;
    .form-group {
      width: 30%;
      position: relative;
      input {
        background-color: var(--white);
        padding: 0.75rem;
        font-size: 0.8rem;
        border-radius: 5px;
        border: 1px solid var(--gray);
        width: calc(100% - 1.5rem);
        color: var(--black);
        transition: all 0.3s;
        &::placeholder {
          transition: all 0.3s;
          color: var(--text-gray);
          font-size: 0.8rem;
        }
        &:focus {
          outline: 0;
          border-color: var(--main-color);
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
          top: -20%;
          padding-right: 0.25rem;
          padding-left: 0.25rem;
        }
      }
      label {
        pointer-events: none;
        transition: all 0.3s;
        color: var(--text-gray);
        position: absolute;
        top: 30%;
        right: 0.75rem;
        font-size: 0.8rem;
        background-color: var(--white);
      }
      svg {
        top: 20%;
        left: 2%;
        position: absolute;
        fill: none;
        color: var(--main-color);
      }
    }
  }
  textarea {
    background-color: var(--white);
    line-height: 2rem;
    padding: 0.75rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--gray);
    color: var(--black);
    width: calc(100% - 1.7rem);
    transition: all 0.3s;
    &:focus {
      outline: 0;
      border-color: var(--main-color);
    }
  }
}

.resume-box {
  padding: 1.5rem;
  @include boxshadow();
  border-radius: 8px;
  background-color: var(--white);
  margin-bottom: 2rem;
  h3 {
    color: var(--black);
    font-size: 0.9rem;
    font-weight: 800;
  }
  hr {
    width: 15%;
    border-color: var(--gray);
    margin-bottom: 2.5rem;
  }
}

@include mobile-device {
  form {
    .row {
      @include fbx-ai-start-jc-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      .form-group {
        margin-bottom: 1.5rem;
        width: 100% !important;
        input {
          padding: 0.5rem;
          font-size: 0.75rem;
          width: calc(100% - 1rem);
          &::placeholder {
            font-size: 0.75rem;
          }
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -25%;
          }
        }
        label {
          top: 25%;
          font-size: 0.75rem;
        }
      }
    }
    textarea {
      line-height: 1.5rem;
      padding: 0.5rem;
      font-size: 0.75rem;
      width: calc(100% - 1.2rem);
    }
  }
  .resume-box {
    padding: 1rem;
    margin-bottom: 2rem;
    h3 {
      font-size: 0.8rem;
    }
    hr {
      width: 30%;
      margin-bottom: 1.5rem;
    }
  }
}

@include tablet-device {
  form {
    .row {
      @include fbx-ai-start-jc-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      .form-group {
        margin-bottom: 1.5rem;
        width: 48% !important;
        input {
          padding: 0.5rem;
          font-size: 0.75rem;
          width: calc(100% - 1rem);
          &::placeholder {
            font-size: 0.75rem;
          }
          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            top: -25%;
          }
        }
        label {
          top: 25%;
          font-size: 0.75rem;
        }
      }
    }
    textarea {
      line-height: 1.5rem;
      padding: 0.5rem;
      font-size: 0.75rem;
      width: calc(100% - 1.2rem);
    }
  }
  .resume-box {
    padding: 1rem;
    margin-bottom: 2rem;
    h3 {
      font-size: 0.8rem;
    }
    hr {
      margin-bottom: 1.5rem;
    }
  }
}
